<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Manager</title>
    <meta name="description" content="Thanks for purchasing Huge. If you need any support, please contact with us.">
    <meta name="author" content="lucidtemplate">
    <meta name="copyright" content="lucidtemplate">
    <link rel="shortcut icon" type="image/png" href="/dashboard_assets/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dashboard_assets/css/tree-viewer.css">
    <link rel="stylesheet" href="/dashboard_assets/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="left-side">
            <div class="logo">
                <img src="/dashboard_assets/img/logo.png" alt="" />
            </div>
            <div class="left-content">
                <ul role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-home"></i></span>Welcome</a></li>
                    <li role="presentation"><a href="#create" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-folder"></i></span>Create Contact</a></li>
                    <li role="presentation"><a href="#read" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-code"></i></span>Read Contact</a></li>
                    <li role="presentation"><a href="#update" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-slideshare"></i></span>Update Contact</a></li>
                    <li role="presentation"><a href="#delete" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-thumbs-up"></i></span>Delete Contact</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-support"></i></span>Settings</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &#169; 2019 </p>
            </div>
        </div>
        <div class="right-side">
            <div class="right-content">
                <div id="home" class="content active fade in">
                    <h1><span>Adminpro</span> - Adminpro Admin Template</h1>
                    <div class="content-welcome">
                        <p>

                        </p>
                    </div>
                    <div class="created">
                        <p>
                            Created: 04/11/2019
                            <br> Latest Update: 04/11/2019
                            <br> By: Colorlib


                            <br>
                            <br> Thank you for purchasing our theme. If you have any question, please feel free to contact us from <a href="https://colorlib.com/wp/forums/">here</a>.
                        </p>
                    </div>
                </div>
                <div id="create" class="content fade">
                    <h1>Main File Structure</h1>
                    <p>
                        All the file are well organized, its so easy to work with.
                        <br> 1. Unzip the files.
                        <br> 2. Open "Adminpro" folder.
                        <br> You will find the html markup file on the root that will be edited.
                        <br> Also you will see 4 directories, css, js, fonts and images.
                        <br> In the first folder Content only styling files the all the other files expect the htmls.
                        <br> Js folder contain only the jquery library. Fonts folder contain essetial font files for fonts.
                    </p>
                    <pre>
								Something goes here!
                    </pre>
                </div>
                <div id="read" class="content fade">

                    <h1> HTML Structure </h1>
                    <div>The base structure was organized by row, col-** class </div>
                    <pre>
<xmp>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo">
                    <a href="dashboard.html">
                        <img src="/dashboard_assets/img/logo.png" alt="">
                    </a>
                </div>
            </div><!-- column end -->
        </div> <!-- row end -->
    </div> <!-- container end -->
</xmp>
</pre>

                </div>

                <div id="update" class="content fade">

				<div class="plugins-area">
					<h1>Plugins</h1>
					<div class="static-table-list">
						
					</div>
				</div>


                    <h1>Tinymc Editor Structure</h1>
					<h3>Quick start</h3>
			<p>Copy-paste the stylesheet "link" into your "head" before all other stylesheets to load our CSS.</p>
			<pre>
                Something goes here!
            </pre>
         </div>


                <div id="delete" class="content fade">
                    <h1> Sources &amp; Credits </h1>

                    <h3>Fonts</h3>
                    <ul>
                        <li><a href="https://fonts.googleapis.com/">Google Fonts</a></li>
                    </ul>

                    <h3>Icons</h3>
                    <ul>
                        <li><a href="http://fontawesome.io/">Font Awesome</a></li>
						<li><a href="https://icomoon.io/app/">Adminpro Custom Icons</a></li>
                    </ul>
                    
                </div>
                <div id="settings" class="content fade">
                    <h1> Supports </h1>
                    <p>Thank you for reading the documentaion. If you still have any question or any problem, please contact with us. We will give you best support. Thanks.</p>

                </div>
                
            </div>
        </div>
    </div>
    <script src="/dashboard_assets/js/jquery-3.1.0.min.js"></script>
    <script src="/dashboard_assets/js/bootstrap.min.js"></script>
	<script src="/dashboard_assets/js/jstree.min.js"></script>
    <script src="/dashboard_assets/js/jstree.active.js"></script>
    <script src="/dashboard_assets/js/main.js"></script>
</body>

</html>
