<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Manager</title>
    <meta name="description" content="Thanks for purchasing Huge. If you need any support, please contact with us.">
    <meta name="author" content="lucidtemplate">
    <meta name="copyright" content="lucidtemplate">
    <link rel="shortcut icon" type="image/png" href="/dashboard_assets/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dashboard_assets/css/tree-viewer.css">
    <link rel="stylesheet" href="/dashboard_assets/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="left-side">
            <div class="logo">
                <img src="/dashboard_assets/img/logo.png" alt="" />
            </div>
            <div class="left-content">
                <ul role="tablist">
                    <li role="presentation" ><a href="/dashboard"><span><i class="fa fa-home"></i></span>Dashboard</a></li>
                    <li role="presentation"><a href="/create"><span><i class="fa fa-folder"></i></span>Create Contact</a></li>
                    <li role="presentation" class="active"><a href="/read"><span><i class="fa fa-code"></i></span>Read Contact</a></li>
                    <li role="presentation"><a href="/settings"><span><i class="fa fa-support"></i></span>Settings</a></li>
                    <li role="presentation"><a href="/logout"><span><i class="fa fa-power-off"></i></span>Logout</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright &#169; 2019 </p>
            </div>
        </div>
        <div class="right-side">
            <div class="right-content">
                
                <div class="content active fade in">
                <div class=" w3l-login-form">
                <h2>Edit Contact</h2>
                    <form action="/update/<%= singleContact._id %>" method="POST">
                    <% include ./partials/messages %>
                    <div class=" w3l-form-group">
                    <label>First Name:</label>
                    <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" name="firstname" placeholder="Firstname" value="<%= singleContact.firstName %>" />
                    </div>
                    </div>

                    <div class="w3l-form-group">
                    <label>Last Name:</label>
                    <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" name="lastname" placeholder="Lastname" value="<%= singleContact.lastName %>"/>
                    </div>

                    <div class=" w3l-form-group">
                    <label>Phone Number:</label>
                    <div class="group">
                    <i class="fas fa-phone"></i>
                    <input type="text" class="form-control" name="telephone" placeholder="Telephone" value="<%= singleContact.phoneNo %>" />
                    </div>
                    </div>

                    <button type="submit">Update</button>
                    </form>
                
                </div>
            </div>
                </div>
                            
                
            </div>
        </div>
    </div>
    <script src="/dashboard_assets/js/jquery-3.1.0.min.js"></script>
    <script src="/dashboard_assets/js/bootstrap.min.js"></script>
	<script src="/dashboard_assets/js/jstree.min.js"></script>
    <script src="/dashboard_assets/js/jstree.active.js"></script>
    <script src="/dashboard_assets/js/main.js"></script>
</body>

</html>
